# Running SQL in SQLAlchemy

## Preparation

### Libraries and credentials

In [34]:
# import libraries
from sqlalchemy import create_engine
import pandas as pd
import math

In [35]:
# database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

### Inspect fields

In [42]:
films = engine.execute('select * from film limit 10')
engine.dispose()
films.keys()

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'last_update',
 'special_features',
 'fulltext']

# Questions

1. How many movies are released for each rating?

In [47]:
# return film counts grouped by rating
sql = '''
SELECT rating, COUNT(*)
FROM film
GROUP BY rating
'''
# display results
pd.read_sql_query(sql, con=engine)

  rating  count
0      R    195
1  NC-17    210
2     PG    194
3  PG-13    223
4      G    178

The number of films for each rating can be seen from above.

2. What is the average rental duration for each rating?

In [51]:
# return film counts grouped by rating
sql = '''
SELECT rating, AVG(rental_duration) AS ave_duration
FROM film
GROUP BY rating
'''

# display results
pd.read_sql_query(sql, con=engine)

  rating  ave_duration
0      R      4.774359
1  NC-17      5.142857
2     PG      5.082474
3  PG-13      5.053812
4      G      4.837079

I'm sure what unit was used for durations, but the means seem quite long.

3. What is the mean movie length? Calculate this by defining a function.

In [ ]:
# mean
def mean(numbers):
    total = 0
    for number in numbers:
        total += number
    n = len(numbers)
    return total/n

In [54]:
# extract durations
sql = '''
SELECT rental_duration
FROM film
'''

durations = engine.execute(sql)
engine.dispose()
rows = durations.fetchall()

durations = [row['rental_duration'] for row in rows]

In [55]:
print('The mean movie length is {}.'.format(mean(durations)))

The mean movie length is 4.985.

4. What is the median movie length? Calculate this by defining a function.

In [56]:
# median
def median(numbers):
    n = len(numbers)
    numbers = sorted(numbers)
    if n % 2 == 0:
        return (numbers[(n+1)//2] + numbers[(n-1)//2])/2
    else:
        return numbers[(n-1)//2]

In [57]:
print('The median movie length is {}.'.format(median(durations)))

The median movie length is 5.0.

5. Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [58]:
# standard deviation
def std(numbers):
    x_bar = mean(numbers)
    squared_error = 0
    for number in numbers:
        diff = number
        squared_error += (number - x_bar) ** 2
    return math.sqrt(squared_error/(len(numbers) - 1))

In [64]:
print('The standard deviation of the movie lengths is {}.'.format(std(durations)))

The standard deviation of the movie lengths is 1.411654266372531.